<md-card>
  <md-card-content>
    <div class="title">
      <div>
        <a href="{{repository?.url}}" title="Go to the repository">{{repository?.name}}</a>
      </div>
      <app-stars [count]=repository?.stars></app-stars>
    </div>
    <div class="subtitle">
      by <a href="{{repository?.owner?.url}}" title="Go to users GitHub account">{{repository?.owner?.name}}</a>
    </div>
    <p>
      {{repository?.description}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button *ngFor="let tag of repository?.tags">{{tag}}</button>
  </md-card-actions>
</md-card>
